<div class="col-md-4">
  <button class="col-md-12 product-tile-button" data-toggle="modal" data-target="#{{product.id}}" >
    <div class="product-tile" style="background-image:url({{product.image}})">
      <div class="product-name col-xs-12">
        {{product.name}}
      </div>
      <div class="product-price">
        ${{product.price}}
      </div>
    </div>
  </button>
</div>

<div class="modal fade" id="{{product.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      {{product-tile-modal product=product}}
    </div>
  </div>
</div>
