<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to "index" class="navbar-brand"}}IDEA{{/link-to}}
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        {{#if session.isAuthenticated}}
          <li><button class="btn btn-default navbar-btn" {{action 'signOut'}}>{{fa-icon 'sign-out'}} Sign Out</button></li>
          <li>{{#link-to "user" user.id}}<img class="profile-pic" src='{{session.currentUser.profileImageURL}}'>{{/link-to}}</li>
        {{else}}
          <li>{{#link-to 'sign-up' class='list-group-item'}}Sign Up{{/link-to}}</li>
          <li>{{#link-to 'sign-in' class='list-group-item'}}Sign In{{/link-to}}</li>
        {{/if}}
        <li>
          {{#link-to "cart" id="shopping-cart-button" class="btn btn-default navbar-btn fa fa-shopping-cart fa-2x"}}
            {{cartLength.cartLength}}
          {{/link-to}}
        </li>
      </ul>
    </div>
  </div>
</nav>
{{side-bar model=model}}
