<table class="table table-hover">
  <thead>
    <tr>
      <th> </th>
      <th>Product Name</th>
      <th>Category</th>
      <th>Sub-Category</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    {{#if refresh}}
      {{#each-in shoppingCart.cart as |key value|}}
        <tr>
          {{#if value.item}}
            <td><button type="button" name="button" {{action "removeFromCart" value.item}}><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></button></td>
            <td>{{value.item.name}}</td>
            <td>{{value.item.subCategory.category.name}}</td>
            <td>{{value.item.subCategory.name}}</td>
            <td>{{value.quantity}}</td>
            <td>${{value.item.price}}</td>
          {{/if}}
        </tr>
      {{/each-in}}
    {{/if}}
  </tbody>
</table>
<div class="row">
  <div class="checkout-bar col-md-12">
    <div class="checkout-total">
      {{#if refresh}}
      Total: ${{cart-total shoppingCart.cart}}
      {{/if}}
      <button {{action "showCheckoutForm"}} class="btn btn-success btn-lg">Checkout</button>
    </div>
  </div>
</div>
